footer
	.contain
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		&__logo
			display: block
			img
				max-width: 150px
		&__slogan
			margin-top: 10px
			font-size: 14px
			font-weight: 600
			color: $b
		&__link
			border-bottom-style: dashed
			margin-top: 20px
			color: #999
			padding: 0
			border: none
			outline: none
			background-color: transparent
			cursor: pointer
			display: inline-block
			line-height: 1.1
			border-bottom: 1px solid
			+tr(all .2s ease)
			&:hover
				border-bottom: transparent
		.left
			margin-left: 20px
		.right
			text-align: right
		&__number
			display: block
			font-size: 20px
			color: $b
			font-weight: 600
			vertical-align: middle
			margin-bottom: 15px
		&__mail
			display: block
			margin-bottom: 20px
			font-size: 16px
			color: $b
			vertical-align: middle
		.btn
			width: 204px
			height: 44px
			line-height: 44px
			font-size: 14px
			margin-left: 20px
	.social
		li
			border-color: $b
			&:hover
				background: $b
			a
				color: $b