header
	width: 100%
	background-color: transparent
	position: absolute
	top: 0
	left: 0
	z-index: 77
	.contain
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: space-between
		height: 70px
		color: $w
		&__text
			font-size: 20px
		&__number, &__logo
			font-size: 24px
			color: $w
			font-weight: 900
		&__number
			font-size: 20px
			margin-right: 10px
		&__logo
			img
				max-width: 150px
		&-right
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			a
				display: inline-block
			ul
				margin-left: 20px
				li
					display: inline-block
					a
						margin-right: 5px
						font-size: 18px
						color: $c
						font-weight: 900
						+trans
						&:hover, &.active
							color: $w
						&:last-child
							// margin-right: 0
