#banner
	width: 100%
	height: 100%
	position: relative
.item
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	position: relative
	color: $w
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba($b, 0.4)
	.contain
		z-index: 3
		&-text
			padding: 200px 0 150px 0
			h1
				font-size: 40px
			&__md
				margin-top: 20px
				font-size: 24px
			&__action
				margin-top: 30px

/* -- about -- */
#about
	margin-right: -9px
	.about
		padding-top: 35px
	p
		margin-top: 10px
		&:first-child
			margin-top: 0



/* -- why us -- */
#whyus
	.section-title
		margin-bottom: 30px
	.contain
		&-item
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			&__box
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex: 1
				flex-direction: column
				align-items: center
				justify-content: center
				border-left: 0
				padding: 15px
				text-align: center
				h2
					font-size: 20px
					padding-bottom: 10px
			.icon
				width: 100%
				height: 80px
				img
					max-width: 55px
					margin: 0 auto

/* -- feedback -- */
#feedback
	padding: 70px 0
	.contain
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		.left
			width: 50%
			flex-basis: 50%
			img
				margin: 0 auto
		.right
			width: 50%
			flex-basis: 50%
			#form
				margin: 30px 0 0 30px
			.btn
				max-width: 400px
				width: 100%
				height: 68px
				line-height: 64px

/* -- portfolio -- */
.portfolio
	margin-top: 30px
.port
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	max-width: 100%
	width: 100%
	flex-basis: 100%
	flex-wrap: wrap
	margin-top: 30px
	margin-left: 33px
	span.bold
		font-weight: 900
		font-size: 14px
	.port-item
		max-width: 23%
		width: 23%
		min-height: 300px
		margin: 0 20px 20px 0
		&__name
			margin: 10px 0
		&__img
			width: 100%
			height: 250px
			overflow: hidden
			position: relative
			&:hover .zoom
				transform: scale(1)
			.zoom
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				z-index: 10
				background-color: rgba($b, 0.6)
				color: $w
				font-size: 25px
				text-align: center
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				transform: scale(0)
				+tr(all .3s ease)
			img
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
		&__carcas
			margin-bottom: 10px
		&__type
			margin-bottom: 10px
		&__price
			margin-bottom: 10px
			font-size: 30px
			font-weight: 900
		.btn
			width: 100%
			height: 50px
			line-height: 50px

/* -- процесс -- */
.process
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	text-align: center
	align-items: flex-start
	justify-content: space-between
	margin-top: 30px
	&-item
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		flex: 1
		vertical-align: top
		position: relative
		min-height: 150px
		&__icon
			height: 60px
			max-height: 60px
			margin-top: 20px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			img
				max-width: 40px
				margin: auto
		&__title
			font-size: 18px
			font-weight: bold
		&__num
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-size: 130px
			color: rgba($b, 0.1)

/* -- partners -- */
#partners
	.partner
		margin-top: 30px

/* -- карта -- */
#map
	position: relative
	padding-bottom: 0
	.head
		margin-bottom: 30px
	.address
		position: absolute
		top: 35px
		left: 50%
		transform: translateX(-50%)
		color: $s20
		font-size: 24px
		font-weight: 700
		margin-bottom: 10px

